/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #1b8c59;
    --vp-c-brand-2: #19df9d;
    --vp-c-brand-3: #30923f;
  }

  /* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */